*.o
*.out
*~

.DS_Store

julian_tests.txt

julian_tests.out.dSYM/Contents/Info.plist

gregorian_and_julian_tests.txt

gregorian_and_julian_tests.outdata

gregorian_and_julian_tests.out.dSYM/Contents/Info.plist

gregorian_tests.out.dSYM/Contents/Info.plist

dates.out.dSYM/Contents/Info.plist
